<div class="container">
  <div class="details">
    <app-title title="Login"></app-title>
    <form [formGroup]="loginForm" (ngSubmit)="submit()">
      <app-text-input
        [control]="formControls['email']"
        [showErrorsWhen]="submitted"
        label="Email"
        type="email"
      />
      <app-text-input
        [control]="formControls['password']"
        [showErrorsWhen]="submitted"
        label="Password"
        type="password"
      />
      <app-default-button text="Login"/>
      <div class="register">
        Don't have an account? &nbsp;
        <a routerLink="/register" [queryParams]="{ returnUrl: returnUrl }">Register</a>
      </div>
    </form>
  </div>
</div>
